@page "/recipedetails/{id}"
@inject RecipeStore Recipes

<ContentView>
    <ScrollView>
        <StackLayout Padding="10">
            <Label class="recipeDetailTitle" Text="@Recipe.Title" />

            <StackLayout Orientation="StackOrientation.Horizontal">
                <Label>
                    <Span>Servings: @Recipe.ScaledServings</Span>
                </Label>
                <Label>
                    <Span>(orig: @Recipe.OriginalServings)</Span>
                    <TapGestureRecognizer OnTapped="OnOriginalServingsTapped" />
                </Label>
                <Slider HorizontalOptions="LayoutOptions.FillAndExpand" Minimum="1" Maximum="@(Math.Max(Recipe.OriginalServings * 4, 20))" @bind-Value="ServingsBind" />
            </StackLayout>

            <Label class="recipeDetailSection" Text="Ingredients" />

            <Grid ColumnDefinitions="1*, 1*, 4*" RowDefinitions="@string.Join(",", Enumerable.Range(0, Recipe.IngredientListings.Count).Select(_ => "Auto"))"
                  Margin="new Thickness(left: 20, 0, 0, 0)">
                @for (int i = 0; i < Recipe.IngredientListings.Count; i++)
                {
                    var ingredient = Recipe.IngredientListings[i];

                    <GridCell Row="@i" Column="0">
                        <CheckBox VerticalOptions="LayoutOptions.Center" @bind-IsChecked="ingredient.IsDone" />
                    </GridCell>
                    <GridCell Row="@i" Column="1">
                        <Label class="recipeDetailIngredientQuantity"
                               Text="@($"{FractionHelper.FormatFraction(ingredient.Quantity)} {ingredient.Unit}")"
                               VerticalOptions="LayoutOptions.Center"
                               Opacity="@GetDoneOpacity(ingredient.IsDone)">
                            <TapGestureRecognizer OnTapped="@(() => OnIngredientTapped(ingredient))" />
                        </Label>
                    </GridCell>
                    <GridCell Row="@i" Column="2">
                        <Label Text="@ingredient.Name"
                               VerticalOptions="LayoutOptions.Center"
                               Opacity="@GetDoneOpacity(ingredient.IsDone)">
                            <TapGestureRecognizer OnTapped="@(() => OnIngredientTapped(ingredient))" />
                        </Label>
                    </GridCell>
                }
            </Grid>

            <Label class="recipeDetailSection" Text="Directions" />

            @for (int i = 0; i < Recipe.Steps.Count; i++)
            {
                var step = Recipe.Steps[i];

                <Label class="recipeDetailStepTitle"
                       Text="@($"Step {i+1}.")"
                       Opacity="@GetDoneOpacity(step.IsDone)">
                    <TapGestureRecognizer OnTapped="@(() => OnStepTapped(step))" />
                </Label>

                <Label class="recipeDetailStepText"
                       Text="@Recipe.Steps[i].Step"
                       Opacity="@GetDoneOpacity(step.IsDone)">
                    <TapGestureRecognizer OnTapped="@(() => OnStepTapped(step))" />
                </Label>
            }
        </StackLayout>
    </ScrollView>
</ContentView>

@code
{
    RecipeDisplay Recipe;

    /// <summary>
    /// Used for two-way binding the UI. Also does necessary conversion between the Slider's double and
    /// the decimal that we use.
    /// </summary>
    public double ServingsBind
    {
        get
        {
            return Recipe.ScaledServings;
        }
        set
        {
            Recipe.ScaledServings = Convert.ToInt32(Math.Round(value));
        }
    }

    double GetDoneOpacity(bool isDone)
    {
        return isDone ? 0.5 : 1.0;
    }

    void OnIngredientTapped(IngredientListing ingredient)
    {
        ingredient.IsDone = !ingredient.IsDone;
    }

    void OnStepTapped(StepListing step)
    {
        step.IsDone = !step.IsDone;
    }

    void OnOriginalServingsTapped()
    {
        Recipe.ScaledServings = Recipe.OriginalServings;
    }

    [Parameter]
    public int id
    {
        set
        {
            Recipe = new RecipeDisplay(Recipes.GetRecipes().Single(r => r.ID == value));
            Recipe.Changed += (s, e) => StateHasChanged();
        }
    }
}
